  <%# ハンバーガーメニュー %>
  <%# クリックして展開した時 %>
  <div id="sp-hamburger">
    <%# リスト %>
    <span id="sp-hamburger-title">
      <ul style="list-style: none;">
        <li><a href="#profile" class="stop-propagation">マイプロフィール</a></li>
        <li><%= link_to "プロフィールを編集", edit_user_path(current_user), class: "stop-propagation"%></li>

        <%# 検索機能 %>
        <li>
          <a id=genres-menu class="stop-propagation">ジャンル検索</a>
          <div class="search-form stop-propagation" >
            <%= form_tag(search_path, :method => 'get') do %>
              <%= select_tag 'genre_id', options_for_select( [ ['---選択してください---', ''], ["Music", 1], ["Vocal", 2], ["Spoken & Audio", 3], ["Other", 4] ] ) %>
              <%= submit_tag '検索' %>
            <% end %>
          </div>
        </li>

        <li><a href="#about" class="stop-propagation">このサイトについて</a></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </span>
    <%# 自転する矩形 %>
    <span id="sp-circle1"></span>
    <span id="sp-circle2"></span>
    <span id="sp-circle3"></span>
  </div>

  <%# 展開前 %>
  <div id="hamburger">
    <span id="hamburger-title">MENU</span>
    <span id="circle1"></span>
    <span id="circle2"></span>
    <span id="circle3"></span>
  </div>