 <%# モーダルウインドウ %>

      <div class="modal profile-modal">
        <div class="modal___bg profile-modal-close"></div>
        <div class="modal___content">
          <%# プロフィール %>
          <div class= "namespace">
            <div>
              <%= attachment_image_tag user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg" %>
            </div>
            <p class="underbar"></p>
            <div class="txt">
              name: <%= user.name %>
            </div>
            <div class="txt">
              Keepされている数: <%= user.followers.count %>
            </div>

            <%# フォローボタンを非同期にするためのパーシャルへ %>
            <button id="ff-<%= user.id %>">
              <%= render "users/follow_form", user: user %>
            </button>

          </div>
          <%# オーディオプレイヤー %>
          <div class="audiospace">
            <% if user.audio.present? %>
              <div id="audio-player-box">
                <div class="txt">
                  ♪<%= user.audio.title %>
                </div>
                <audio src="<%= user.audio.audio %>" controls=""></audio>
              </div>
            <% end %>
          </div>
          <%# 登録済みのSNS %>
          <div class = "sns-link">
            <ul class="sns-profile-links">
              <% if user.twitter.present? %>
                <li class="sns-profile-link">
                  <%= link_to user.twitter, target: :_blank do %>
                    <i class="fab fa-twitter-square"></i>
                  <% end %>
                </li>
              <% end %>
              <% if user.facebook.present? %>
                <li class="sns-profile-link">
                  <%= link_to user.facebook, target: :_blank do %>
                    <i class="fab fa-facebook"></i>
                  <% end %>
                </li>
              <% end %>
              <% if user.instagram.present? %>
                <li class="sns-profile-link">
                  <%= link_to user.instagram, target: :_blank do %>
                    <i class="fab fa-instagram"></i>
                  <% end %>
                </li>
              <% end %>
              <% if user.youtube.present? %>
                <li class="sns-profile-link">
                  <%= link_to user.youtube, target: :_blank do %>
                    <i class="fab fa-youtube"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><%# sns-link %>
        </div><%# modal___content %>
      </div><%# modal profile-modal %>