  <div class="my-profile-image">
    <%= attachment_image_tag current_user, :profile_image, :fill, 1000, 1000, format: 'jpeg' %>
  </div>

  <div id="my-profile-box">
    <span id="sp-circle4"></span>
    <span id="my-profile-txt">
      なまえ: <%= current_user.name %><br>
      キープされている数: <%= current_user.followers.count %>
    </span>
    <span id="my-sns-box">
      <%= render'users/mysns' %>
    </span>
  </div>

  <div id="my-keeper-box">
    <span id="sp-circle5"></span>
    <span id="my-keeper-list">
      <div class="txt" style="text-align: center;">キープしている人</div>
      <% current_user.followings.each do |user| %>
        <%= link_to user_path(user), class: "user-image", style: "display: block" do %>
          <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", class:"user-image", data: {user_id: user.id} %>
          <span class="txt">
            <%= user.name %>
          </span>
        <% end %>
      <% end %>
    </span>
  </div>

  <% if @audio.present? %>
    <div id="audio-player-box">
      <audio src="<%= @audio.audio %>" controls="">
        <a src="<%= @audio.audio %>">ダウンロード</a>
      </audio>
    </div>
  <% end %>

  <span id="sp-circle6">
    <% if @audio.present? %>
      ♪<%= @audio.title %>
    <% else %>
      <p>オーディオを登録するとここで再生できます</p>
    <% end %>
  </span