  <%# ユーザーアイコンをランダムに表示 %>
  <% users.shuffle.first(17).each.with_index(1) do |user,index| %>
    <%# ユーザーアイコン %>
    <div id="user-icon-<%= user.id %>" class="dots<%= index %>">
      <%# ここのリンクをクリックしたら下のモーダルを表示 %>
      <%= link_to user_path(user), class: "user-image", style: "display: block" do %>
        <%= attachment_image_tag user, :profile_image, :fill, 140, 140, format: 'jpeg', fallback: "no_image.jpg", class:"user-shuffle-image", data: {user_id: user.id} %>
      <% end %>
    </div>
    <%# モーダル %>
    <div id="modal-shuffle-<%= user.id %>" class="user-modal">
      <%= render 'users/modal', user: user %>
    </div>

  <% end %>
