<div id="edit-canvas">
  <div class="video-content">
    <%= video_tag("/videos/bg-movie.mp4", width: "100%", autoplay: :true, loop: :true, muted: :true) %>
  </div>

    <%= form_with model: @user, local: true do |f| %>
      <label for="inputName">なまえ</label>
      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
      <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
      <label for="inputImage"></label>
      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      <%= f.submit "変更を保存" %>
    <% end %>

    <%= form_with model: @audio, local: true do |f| %>
      <%= f.label :"17秒以内のmp3音源をアップロード" %>
      <%= f.file_field :audio , :size => 140 %>
      <label for="inputTitle">タイトル</label>
      <%= f.text_field :title %>
      <%= f.submit "Go!" %>
    <% end %>

    <% if @audio.present? %>
      <audio src="<%= @audio.audio %>" controls="">
        <a src="<%= @audio.audio %>">ダウンロード</a>
      </audio>
    <% end %>

    <%=link_to "もどる", users_path %>
</div>