<script src="https://kit.fontawesome.com/8a2ca55f79.js" crossorigin="anonymous"></script>

<div id="edit-canvas">

  <div class="video-content">
    <%= video_tag("/videos/bg-movie.mp4", width: "100%", autoplay: :true, loop: :true, muted: :true) %>
  </div>

  <div id="user-edit-slide">
    <div id="user-edit-box1">
      <i class="fas fa-user-alt fa-3x user-alt"></i>
    </div>
    <%= form_with model: @user, local: true do |f| %>
      <div id="user-edit-box2">
        <div class ="edit-user-profile">
          <div class="txt2">
            <label for="inputName">なまえとアイコン</label>
          </div>
          <div class="txt">
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
          </div>
          <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
          <div class="txt">
            <label for="inputImage"></label>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          </div>
          <div class="txt">
            <%= f.submit "update" %>
          </div>
        </div>
      </div>

      <div id="user-edit-box3">
        <div class ="edit-sns-link">
          <div class="txt2">
            SNS URL
          </div>
          <div class="txt">
            <div class="form-group">
              <%= f.label :twitter, 'Twitter URL', class: 'form-control' %>
              <%= f.text_field :twitter, placeholder: "Optional", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :facebook, 'Facebook URL', class: 'form-control' %>
              <%= f.text_field :facebook, placeholder: "Optional", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :instagram, 'Instagram URL', class: 'form-control' %>
              <%= f.text_field :instagram, placeholder: "Optional", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :youtube, 'Youtube URL', class: 'form-control' %>
              <%= f.text_field :youtube, placeholder: "Optional", class: "form-control" %>
            </div>
            <%= f.submit "update" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="audio-edit-slide">
    <div id="audio-edit-box1">
      <i class="fas fa-music fa-3x audio-alt"></i>
    </div>
    <div id="audio-edit-box2">
      <%= form_with model: @audio, local: true do |f| %>
      <div class="txt2">
        <%= f.label :"17秒以内のmp3音源をアップロード" %>
      </div>
      <div class="txt">
        <label for="inputTitle">タイトル</label>
        <%= f.text_field :title %>
      </div>
      <div class="txt">
        <%= f.file_field :audio %>
      </div>
      <div class="txt">
        <%= f.select :genre_id, [ ["Music",1], ["Vocal",2], ["Spoken & Audio", 3], ["Other", 4 ] ], prompt: "ジャンルを選択してください" %>
      </div>
      <div class="txt">
        <%= f.submit "Go!" %>
      </div>
      <% end %>
    </div>

    <div id="audio-edit-box3">
      <% if @audio.present? %>
        <audio src="<%= @audio.audio %>" controls="">
          <a src="<%= @audio.audio %>">ダウンロード</a>
        </audio>
      <% end %>
    </div>

  </div>

  <div class="return-zone">
    <div class="return-bar"></div>
    <%=link_to "もどる", users_path, class:"return-txt" %>
  </div>

</div>