<script src="https://kit.fontawesome.com/8a2ca55f79.js" crossorigin="anonymous"></script>

  <div class="fullPageScroll">

    <section id="section1" class="section section1">
      <div id="canvas-wrap">
        <canvas id="canvas-container"></canvas>
        <div id="canvas-txt">
          <p>Loop17</p>
          <%= render'users/hamburger' %>
          <i class="fas fa-chevron-down fa-2x jump"></i>
        </div>
      </div>
    </section>

    <section id="section2" class="section section2">
      <div id="canvas-wrap">
        <%= render'users/shuffle' %>
      </div>
    </section>

    <section id="section3" class="section section3">
      <div id="canvas-wrap">
      </div>
    </section>

    <section id="profile" class="section section4">
      <div id="canvas-wrap">
        <div id="canvas-txt">
          <p>マイプロフィール</p>
        </div>
        <%= render'users/profile' %>
      </div>
    </section>

    <section id="profile" class="section section5">
      <div id="canvas-wrap">
        <div id="my-keeper-box">
        <span id="sp-circle6"></span>
        <span id="my-keeper-list">
          <div id="my-keeper-text">キープしている人</div>
          <% current_user.followings.each do |user| %>
            <div>
              <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>
              <span id="my-keeper-text">
                <%= user.name %>
              </span>
            </div>
          <% end %>
        </span>
      </div>
    </section>

    <section id="about" class="section section6">
      <div id="canvas-wrap">
        <p>このサイトについて</p>

        <%# トップに戻る %>
        <span id="back">
          <a href="#">
            <i class="fas fa-chevron-circle-up fa-2x jump"></i>
          </a>
        </span>
      </div>
    </section>

  </div>